table{
	border: 1px solid black;
 	border-collapse: collapse;
 	font-family: 'Karla', sans-serif;
 	font-size: 12px
}
td,th{
	border: 1px solid grey;
	padding: 5px;
	text-align: center;
	vertical-align: center;

}

caption{
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	marker-end: 3px
}]
thead{
	margin-top: 10%;
}

a:link 
{ 
text-decoration:none; 
} 